<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Apps -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>isStaticText</key>
			<true/>
            <key>id</key>
            <string>apps</string>
		</dict>
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Other</string>
			<key>footerText</key>
			<string>Mitsuha, Mitsuha2 by c0ldra1n
MitsuhaXI, Mitsuha Infinity by Nepeta  
Mitsuha Forever by ConorTheDev
Siri Style and Color by biD3V</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
    		<string>MSHFTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>restartmsd:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
    		<string>MSHFTintedTableCell</string>
			<key>label</key>
			<string>Restart mediaserverd</string>
		</dict>
		<dict>
			<key>action</key>
			<string>resetPrefs:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
    		<string>MSHFTintedTableCell</string>
			<key>isDestructive</key>
			<true />
			<key>confirmation</key>
			<dict>
				<key>prompt</key>
				<string>Are you sure you want to reset all your Mitsuha Six preferences? This can not be undone.</string>
				<key>title</key>
				<string>OK</string>
				<key>okTitle</key>
				<string>OK</string>
				<key>cancelTitle</key>
				<string>Cancel</string>
			</dict>
			<key>label</key>
			<string>Restore default settings and respring</string>
		</dict>
		<dict>
		<key>cellClass</key>
		<string>MSHFTwitterCell</string>
		<key>label</key>
		<string>Ryan Nair</string>
		<key>subtitle</key>
		<string>Developer of Mitsuha Six</string>
		<key>user</key>
		<string>ryannair05</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MSHFLinkTableCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>Source code</string>
			<key>url</key>
			<string>https://github.com/ryannair05/MitsuhaSix</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>MSHFLinkTableCell</string>
			<key>label</key>
			<string>Donate to c0ldra1n</string>
			<key>subtitle</key>
			<string>Original developer of Mitsuha for iOS 9 and 10</string>
			<key>url</key>
			<string>https://www.paypal.me/c0ldra1n</string>
		</dict>
			<dict>
			<key>cellClass</key>
			<string>MSHFLinkTableCell</string>
			<key>label</key>
			<string>Donate to Ryan Nair</string>
			<key>subtitle</key>
			<string>Current developer of Mitsuha</string>
			<key>url</key>
			<string>https://paypal.me/ryannair05</string>
		</dict>
	</array>
	<key>title</key>
	<string>Mitsuha Six</string>
</dict>
</plist>